<%- include("header", {bodyclass: "categories"}) -%>

  <%- include("nav", {page: "categories"}) -%>

  <form action="/category/new" class="category-header" method="post">
    <a href="/notes" class="category-header__button--back">Vissza</a>
    <input type="hidden" name="isDefault" value="false">
    <input type="text" name="title" class="category-header__name" placeholder="Kategória neve" required>

    <div id="newCategoryBgColorWrapper" class="category-header__color-group color-group" style="border-color: #0074aa;">
      <label for="">Background Color</label>
      <input type="color" name="bgColor" id="bgColor" class="category-header__color-picker" value="#0074aa">
    </div>

    <div id="newCategoryFgColorWrapper" class="category-header__color-group color-group" style="border-color: #d9e4ff;">
      <label for="">Foreground Color</label>
      <input type="color" name="fgColor" id="fgColor" class="category-header__color-picker"  value="#d9e4ff">
    </div>

    <input type="submit" value="Hozzáadás" class="category-header__button--add">
  </form>

  <section class="categories">
    <% categories.forEach(category => { %>
      <div class="category-item" style="border:3px solid <%= category.bgColor %>;">
        <p class="category-item__title"><%= category.title %></p>
  
        <div class="category-item__actions">
          
          <a href="/category/edit/<%= category.id %>" class="category-item__icon-wrapper">
            <svg class="category-item__icon category-item__icon--edit" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19.045 7.401c.378-.378.586-.88.586-1.414s-.208-1.036-.586-1.414l-1.586-1.586c-.378-.378-.88-.586-1.414-.586s-1.036.208-1.413.585L4 13.585V18h4.413L19.045 7.401zm-3-3 1.587 1.585-1.59 1.584-1.586-1.585 1.589-1.584zM6 16v-1.585l7.04-7.018 1.586 1.586L7.587 16H6zm-2 4h16v2H4z"></path></svg>
          </a>

          <% if(typeof category.isDefault === undefined || !category.isDefault) { %>
          <a href="/category/delete/<%= category.id %>" class="category-item__icon-wrapper category-item__icon-wrapper--delete">
            <svg class="category-item__icon category-item__icon--delete" xmlns="http://www.w3.org/2000/svg" viewBox="3 3 18 18"><path d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"></path></svg>
          </a>
          <% } %> 
        </div>
      </div>
    <% }); %>

    
    <!-- category end -->
  </section>

  <% if(typeof category !== 'undefined') { %>
  <form class="category-edit-modal" id="modForm" method="post" style="border-color: <%= category.bgColor %>">
    <svg id="modalCloser" class="category-edit-modal__icon" xmlns="http://www.w3.org/2000/svg" viewBox="3 3 18 18"><path d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"></path></svg>

    <input type="hidden" name="_id" value="<%= category._id %>">
    <input type="hidden" name="isDefault" value="<%= category.isDefault %>">
    <input type="hidden" id="needsChangeSetter" name="needsChange" value="true">

    <input type="text" name="title" class="category-edit-modal__item category-edit-modal__item--title" value="<%= category.title %>">
    <div class="category-header__color-group" id="editModalBgColorGroup" style="border-color: <%= category.bgColor %>">
      <label for="bgCpicker">Background Color</label>
      <input type="color" name="bgColor" id="bgCpicker" class="category-header__color-picker" value="<%= category.bgColor %>">
    </div>

    <div class="category-header__color-group" id="editModalFgColorGroup" style="border-color: <%= category.fgColor %>">
      <label for="fgCpicker">Foreground Color</label>
      <input type="color" name="fgColor" id="fgCpicker" class="category-header__color-picker" value="<%= category.fgColor %>">
    </div>
    
    <input type="submit" class="category-edit-modal__item category-edit-modal__item--submit call-to-action-button" value="mentés">
  </form>
  <% } %>


  <script type="text/javascript" >
      let editModalBgColorPicker = document.getElementById("bgCpicker");
      let editModalFgColorPicker = document.getElementById("fgCpicker");

      let newCategoryBgColorPicker = document.getElementById("bgColor");
      let newCategoryFgColorPicker = document.getElementById("fgColor");

      let modForm = document.getElementById("modForm");
 
      //Edit category modal color pickers
      if(editModalBgColorPicker != null)
        editModalBgColorPicker.addEventListener("input", () => {
          modForm.style.borderColor = editModalBgColorPicker.value;
          document.getElementById("editModalBgColorGroup").style.borderColor = editModalBgColorPicker.value;
          
        });

      if(editModalFgColorPicker != null)
        editModalFgColorPicker.addEventListener("input", () => {
          document.getElementById("editModalFgColorGroup").style.borderColor = editModalFgColorPicker.value;
          
        });

      //New category color pickers
      newCategoryBgColorPicker.addEventListener("input", () => {
        document.getElementById("newCategoryBgColorWrapper").style.borderColor = newCategoryBgColorPicker.value;
      })

      newCategoryFgColorPicker.addEventListener("input", () => {
        document.getElementById("newCategoryFgColorWrapper").style.borderColor = newCategoryFgColorPicker.value;
      })


      //If we press the X redirect to the categories page without the need to save the current item
      document.getElementById("modalCloser").addEventListener("click", () => {
        document.getElementById("needsChangeSetter").value = false;
        document.getElementById("modForm").submit();
      });
  </script>

<%- include("footer") -%>