<%- include("header", {bodyclass: "note_edit"}) -%>

<%- include("nav", {page: "note_edit"}) -%>

<form class="main--note_edit"  method="post">
  <% if( typeof note !== 'undefined' ) {%>
    <input type="hidden" name="creation_date" value="<%= note.creation_date %>">
  <% } %>
  
  <header class="edit-header">
    <input type="text" name="title" class="title" 
      value="<% if( typeof note !== 'undefined' ) {%><%= note.title %><% } %>"
    >

    <select name="category" id="slCateg" class="category-select" required>
      <option value=""
      <% if( typeof note === 'undefined' ) {%>
        selected
      <% } %>
      disabled>
      Kategória</option>
      <% categories.forEach(category => { %>
        <option 
          value="<%= category.id %>"
          data-bgcolor ="<%= category.bgColor%>"
        <% if( typeof note !== 'undefined' && category.id == note._category) {%>
          selected
        <% } %>>

        <%= category.title %>

        </option>
      <% }); %>

    </select>
    <p class="character-count"><span id="spCounter">0</span> / 1000</p>
  </header>
  <textarea name="text" resize="false" class="text-input" id="taNote" maxlength="1000"><% if( typeof note !== 'undefined' ) { %><%= note.text %><% } %></textarea>
  <div class="actions">
    <a href="/notes" class="actions__button actions__button--back">vissza</a>
    <input type="submit" value="mentés" class="actions__button actions__button--submit"/>
  </div>
</form>

<script type="text/javascript"> 
  let span = document.getElementById("spCounter");
  let textArea = document.getElementById("taNote");
  let select = document.getElementById("slCateg");

  textArea.addEventListener("input",() => {
    span.innerHTML = textArea.value.length;
  });

  const changeSelectBorder = () => {
    let selected = select.selectedOptions[0];
    if(selected.hasAttribute("data-bgcolor"))
      select.style.borderColor = selected.dataset.bgcolor; 
  }

  select.addEventListener("change", changeSelectBorder);
  window.addEventListener("load", () => {
    changeSelectBorder();
    span.innerHTML = textArea.value.length;
  });
</script>

<%- include("footer") -%>